<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexkorovyansky.wearpomodoro" >

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/PomodoroApp" >

        <activity android:name=".app.ui.PomodoroEntryActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.ui.PomodoroTransitionActivity" >
        </activity>

        <receiver
            android:name=".app.receivers.PomodoroAlarmReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.alexkorovyansky.wearpomodoro.action.ALARM" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".app.receivers.PomodoroAlarmTickReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.alexkorovyansky.wearpomodoro.action.ALARM_TICK" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".app.receivers.PomodoroControlReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.alexkorovyansky.wearpomodoro.action.CONTROL" />
            </intent-filter>
        </receiver>

        <service
            android:name=".app.services.PomodoroNotificationService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>
